<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    @await Html.PartialAsync("_HeaderPartial")
    <style>
        /* Sayfa düzeni için flexbox */
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        /* İçerik alanı */
        .content {
            flex: 1; /* Sayfa içeriği alanını genişletir */
        }

        /* Footer düzeni */
        footer {
            /* background-color: ; */
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        /* Footer içindeki logo alanı */
        .footer-logo {
            display: flex;
            justify-content: center; /* Yatayda ortalar */
            align-items: center; /* Dikeyde ortalar */
        }

        /* Footer içindeki logo resmi */
        .footer-img {
            max-width: 250px; /* Görselin genişliği */
            display: block; /* Ortalamayı destekler */
            margin: auto; /* Otomatik merkezleme */
        }

        /* Custom Modal için body scroll kontrolü */
        body.modal-open {
            overflow: hidden !important;
        }

        /* Custom Modal için body scroll kontrolü - Tarifler sayfası */
        body.custom-modal-open {
            overflow: hidden !important;
        }
    </style>

</head>
<body>
    <!-- Navbar -->
    @await Html.PartialAsync("_NavbarPartial")

    <!-- Sayfa İçeriği -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
