<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MyGoldenFood.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  
  <!-- Admin sayfası için özel ayarlar -->
  <location path="Admin">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\MyGoldenFood.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  
  <!-- Admin klasörü için erişim izni -->
  <location path="Admin">
    <system.webServer>
      <security>
        <authorization>
          <allow users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 855E5D00-DC33-490B-9760-2D67C1B60A51-->
